{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'MyProfile/css/styles.css' %}">

        <!-- ===== BOX ICONS ===== -->
        <link href="{% static 'MyProfile/css/boxicons.min.css' %}" rel='stylesheet'>
        

        <title>cedrouseroll's profile </title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Cedrouse roll</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Portfolio</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Cedrouse</span><br>Web Designer,<br>Software Developer<br>and AI enthusiast</h1>

                    <a href="#contact" class="button"><i class="bx bx-phone-incoming"> Contact</i></a>
                    <a href="#about" class="button"></a>
                </div>

                <div class="home__social">
                    <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="" class="home__social-icon"><i class='bx bxl-behance' ></i></a>
                    <a href="" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

              
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <a href="{% static 'MyProfile/img/about.png' %}" target="_blank"><img src="{% static 'MyProfile/img/about.png' %}" alt=""></a>
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am Cedrouse</h2>
                        <p class="about__text">I am a self-taught programmer and software developer. 
                            Currently am working on an AI personal Assistant alias future. 
                            Future is rational and sentient and more human like than any AI personal assistant you've met. 
                            Want to collaborate <a href="#contact">Let me know.</a></p>
                            <br />
                            <br />
                            <br />
                            <a href="#about" class="button"><i class="bx bx-download"> Download CV</i></a>         
                    </div>                             
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">My primary programming language is python but I can comfortably 
                            work on projects in the following languages...</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-python bx-spin-hover skills__icon'></i>
                                <span class="skills__name">PYTHON</span>
                            </div>
                            <div class="skills__bar skills__python">

                            </div>
                            <div>
                                <span class="skills__percentage">90%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-c-plus-plus bx-spin-hover skills__icon'></i>
                                <span class="skills__name">C</span>
                            </div>
                            <div class="skills__bar skills__c">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">75%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">80%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">70%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML 5</span>
                            </div>
                            <div class="skills__bar skills__html">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bx-coffee skills__icon'></i>
                                <span class="skills__name">JAVA</span>
                            </div>
                            <div class="skills__bar skills__java">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">50%</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>              
                        <img src="{% static 'MyProfile/img/waldo.jpg' %}" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <a href="https://rollindustries.herokuapp.com/legacy/" target="_blank"><img src="{% static 'MyProfile/img/work1.png' %}" alt=""></a>
                    </div>
                    <div class="work__img">
                        <a href="https://rollindustries.herokuapp.com/" target="_blank"><img src="{% static 'Myprofile/img/work3.png' %}" alt=""></a>
                    </div>
                    <div class="work__img">
                        <a href="https://rollindustries-blog.herokuapp.com/" target="_blank"><img src="{% static 'Myprofile/img/work4.png' %}" alt=""></a>
                    </div>
                    <div class="work__img">
                        <a href="https://rollindustries-blog.herokuapp.com/accounts/login/" target="_blank"><img src="{% static 'Myprofile/img/work5.png' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form class="contact__form" method="post">
                        {% csrf_token %}
                        <input name="name" type="text" placeholder="Name" class="contact__input" required>
                        <input name="email" type="mail" placeholder="Email" class="contact__input" required>
                        <input name="phone" type="tel" placeholder="Phone" class="contact__input" required>
                        <textarea name="subject" placeholder="Talk to me..." id="message" cols="0" rows="10" class="contact__input" required></textarea>
                        <input type="submit" value="Send" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Cedrouse roll</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p>&#169; 2021 copyright all right reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="{% static 'MyProfile/js/scrollreveal' %}"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'MyProfile/js/main.js' %}"></script>
    </body>
</html>